/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --primary-color: #000028;
  --bg-color: var(--primary-color);
  --section-title-text-color: var(--accent-color);
  --article-title-text-color: var(--primary-color);
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --decorated-zone-color: var(--accent-color);
  --button-color: var(--accent-color);
  --rec-color: var(--accent-color);
  --font-family: "IBM Plex Mono", sans-serif;
}
